body {
    width: 200px;
    font-family: "Gill Sans", sans-serif;
    padding: 10px;
    background-color: rgb(53, 53, 53);
}

input {
    text-align: center;
    letter-spacing: 15px;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

#message {
    margin-top: 15px;
}